.movies {
  overflow: hidden;
  overflow-y: scroll;
  width: 50%;
  border-radius: 8px;
  margin: 64px auto;
  height: 80vh;
  background: white;
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}