.movie__container {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 30px;
    padding: 8px 16px 16px 32px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.movie__container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    border: 1px solid gray;
    overflow: hidden;

}

.movie__container-image img {
    width: 100%;
}

.infos {
    font-size: 18px;
    font-weight: 300;
    margin: 18px 0 6px 24px;
}

.rating {
    background-color: rgb(119, 119, 119);
    padding: 4px;
    border-radius: 3px;
    font-weight: bold;
}

.rating.green {
    color: rgb(102, 251, 102);
}

.rating.orange {
    color: rgb(255, 208, 0);
}

.rating.red {
    color: rgb(231, 44, 44);
}

.title {
    font-size: 24px;
    font-weight: 700;
    max-width: 400px;
    margin: 0 0 16px;
}

.infos__search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos__search-text {
    font-size: 16px;
    font-weight: 300;
    color: rgb(51, 51, 51,0.5);
}
